@using vuuvv.web.Models.ViewModel;
@using vuuvv.web.Models;
@using vuuvv.web.Helper;
@model Pager<User>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row-fluid">
	<div class="well">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="/manage/adminuser/">用户管理</a>
			</li>
			<li>
				<a href="/manage/adminuser/create">创建用户</a>
			</li>
		</ul>
<form action="/manage/adminuser/delete" method="post">
		<div class="tab-content">
			<div class="tab-pane active in">
				<div class="well">
					<table class="table">
						<thead>
							<tr>
                                <th>删除</th>
                                <th>Id</th>
								<th>用户名</th>
								<th>真实姓名</th>
								<th>创建时间</th>
								<th>有效</th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
@foreach (var item in Model.Items)
{
							<tr>
                                <td><input type="checkbox" value="@item.Id" id="id" name="ids"></td>
								<td>@Html.DisplayFor(modelItem => item.Id)</td>
								<td>@Html.DisplayFor(modelItem => item.UserName)</td>
								<td>@Html.DisplayFor(modelItem => item.RealName)</td>
								<td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
								<td>@Html.DisplayFor(modelItem => item.Active)</td>
								<td>
                                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                                    <a href="/manage/adminuser/Delete/@item.Id" onclick="return confirm('确定要删除吗？');">删除</a>
                                </td>
							</tr>
}
						</tbody>
					</table>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">删除</button>
                        </div>
                    </div>
                </div>
                @Html.Partial("Pager", Model)
			</div>
		</div>
</form>
	</div>
</div>
