@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI;
@using vuuvv.web.Helper;
@model System.Type[]

@{
    if (!SiteMapManager.SiteMaps.ContainsKey("admin")) {
        SiteMapManager.SiteMaps.Register<XmlSiteMap>("admin", sitemap =>
            sitemap.LoadFrom("~/Areas/Admin/sitemap.config"));
    } 
}
<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </head>
    <body>
        @{
            Html.Telerik().Menu().Name("Admin").BindTo("admin", (item, siteMapNode) =>
            {
                if (!string.IsNullOrWhiteSpace(item.ControllerName))
                {
                    item.RouteValues = new RouteValueDictionary() {
                        { "area", "Admin" }
                    };
                }

                var imageUrl = siteMapNode.Attributes["ImageUrl"];
                if (imageUrl != null && !string.IsNullOrEmpty(imageUrl.ToString()))
                {
                    item.ImageUrl = imageUrl.ToString();
                }

                if (ViewBag.SelectedMenuItem == item.Text)
                {
                    item.Selected = true;
                }

            }).OpenOnClick(false).Render();
        }
        <ul>
        @foreach (var t in Model)
        {
            <li>@t.Name @t.Namespace</li>
            <ul>
                @foreach (var a in ActionHelper.GetAllAction(t))
                {
                <li>@a</li>
                }
            </ul>
        }
        </ul>
        @(Html.Telerik().StyleSheetRegistrar()
            .DefaultGroup(group => group
                .Add("telerik.common.min.css")
                .Add("telerik.vista.min.css")
                .Add("telerik.rtl.min.css")
         ))
         @(Html.Telerik().ScriptRegistrar()
            .jQuery(false)
            .jQueryValidation(false)
         )
    </body>
</html>