<div class="board"> </div>
<div class="hittopic box">
    <div class="hd">
        <div class="inner ya">热点动态</div>
    </div>
</div>

<div class="topic">
    <div class="left">
        <ul>
            <li>@Html.ActionLink("中宇卫浴为四川庐山地震捐助400顶帐篷", "")</li>
            <li>@Html.ActionLink("4月13日中宇南宁品质家园大型活动动员会暨经销商高峰论坛在希尔顿大酒店举行", "")</li>
            <li>@Html.ActionLink("4月11日中宇重庆品质家园大型活动动员会暨经销商高峰论坛在劲力酒店举行", "")</li>
            <li>@Html.ActionLink("2月28日中宇卫浴在杭州召开经销商年会——“服务中国 爱在身边”", "")</li>
            <li>@Html.ActionLink("中宇卫浴为四川庐山地震捐助400顶帐篷", "")</li>
            <li>@Html.ActionLink("4月13日中宇南宁品质家园大型活动动员会暨经销商高峰论坛在希尔顿大酒店举行", "")</li>
            <li>@Html.ActionLink("4月11日中宇重庆品质家园大型活动动员会暨经销商高峰论坛在劲力酒店举行", "")</li>
            <li>@Html.ActionLink("2月28日中宇卫浴在杭州召开经销商年会——“服务中国 爱在身边”", "")</li>
        </ul>
    </div>
    <div class="right">
        <div class="article-title">
            <h1>中宇卫浴为四川庐山地震捐助400顶帐篷</h1>
        </div>
        <div class="article ya">
            <div class="fl" style="padding: 0 25px 15px 0"><img src="/static/service/img/t1.jpg"/></div>
            <p>中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。</p>
            <p>中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。</p>
            <p>中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。捐助顶帐篷，捐助顶中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。中宇卫浴为四川庐山地震捐助顶帐篷，捐助顶帐篷。</p>
        </div>
    </div>
    <div class="clr"></div>
</div>


@section ExtraCSS {
<link rel="Stylesheet" href="/static/css/article.css" />
<link rel="Stylesheet" href="/static/service/css/board.css" />
}
