<div class="board"> </div>
<div class="boards">
    <div class="hittopic box fl">
        <div class="hd">
            <div class="inner ya">热点动态</div>
        </div>
        <div class="bd">
            <ul>
                <li> @Html.ActionLink("中宇卫浴为四川庐山地震捐助400顶帐篷", "") <i>@DateTime.Now.ToLongDateString()</i> </li>
                <li> @Html.ActionLink("中宇卫浴2013年4月15日西安“服务中国 爱在身边”启动仪式", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月13日中宇南宁品质家园大型活动动员会暨经销商高峰论坛在希尔顿大酒店举行", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月11日中宇重庆品质家园大型活动动员会暨经销商高峰论坛在劲力酒店举行", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("2月28日中宇卫浴在杭州召开经销商年会——“服务中国 爱在身边”", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("中宇卫浴为四川庐山地震捐助400顶帐篷", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("中宇卫浴2013年4月15日西安“服务中国 爱在身边”启动仪式", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月13日中宇南宁品质家园大型活动动员会暨经销商高峰论坛在希尔顿大酒店举行", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月11日中宇重庆品质家园大型活动动员会暨经销商高峰论坛在劲力酒店举行", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("2月28日中宇卫浴在杭州召开经销商年会——“服务中国 爱在身边”", "") <i>@DateTime.Now.ToLongDateString()</i></li>
            </ul>
        </div>
    </div>
    <div class="hotvideo box fl">
        <div class="hd">
            <div class="inner ya">视频热点</div>
        </div>
        <div class="bd">
            <div class="mainv img" style="background-image: url(/static/service/img/v1.jpg)">
                <a href=""></a>
            </div>
            <ul>
                <li class="img" style="background-image: url(/static/service/img/v2.jpg)"><a href=""></a></li>
                <li class="img" style="background-image: url(/static/service/img/v3.jpg)"><a href=""></a></li>
                <li class="img" style="background-image: url(/static/service/img/v4.jpg)"><a href=""></a></li>
                <div class="clr"></div>
            </ul>
        </div>
    </div>
    <div class="policy box fl">
        <div class="hd">
            <div class="inner ya">服务政策</div>
        </div>
        <div class="bd">
            <ul>
                <li> @Html.ActionLink("6月1日全面启动服务中国VI形象", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月1日服务中国售后咨询线上启动", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("马桶节售后安装补贴政策将于近日公布", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("分销售后维修产品将由产品部审核", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("6月1日全面启动服务中国VI形象", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("4月1日服务中国售后咨询线上启动", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("马桶节售后安装补贴政策将于近日公布", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("分销售后维修产品将由产品部审核", "") <i>@DateTime.Now.ToLongDateString()</i></li>
            </ul>
        </div>
    </div>
    <div class="network box fl">
        <div class="hd">
            <div class="inner ya">网点动态</div>
        </div>
        <div class="bd">
            <ul>
                <li> @Html.ActionLink("福州国货路新开中宇旗舰店700平方米", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("佛山陶瓷城专卖店5月20日开业", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("福州国货路新开中宇旗舰店700平方米", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("佛山陶瓷城专卖店5月20日开业", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("福州国货路新开中宇旗舰店700平方米", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("福州国货路新开中宇旗舰店700平方米", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("佛山陶瓷城专卖店5月20日开业", "") <i>@DateTime.Now.ToLongDateString()</i></li>
                <li> @Html.ActionLink("福州国货路新开中宇旗舰店700平方米", "") <i>@DateTime.Now.ToLongDateString()</i></li>
            </ul>
        </div>
    </div>
    <div class="clr"></div>
</div>

@section ExtraCSS {
<link rel="Stylesheet" href="/static/service/css/board.css" />
}
